
hr.divider {
    max-width: 6.25rem ;
    border-width: .2rem;
    border-top-width: 0.2rem;
    border-right-width: 0.2rem;
    border-bottom-width: 0.2rem;
    border-left-width: 0.2rem;
    border-color: red;
}
h4 {
    color: red;
    margin-left: 70px;
  
}
.second {
    background-color: 	gainsboro;}
.btn-danger{
    width: 200px;
}