<div class="second">
  <div class="container">
      <div class="row">

          <div class="col-md-5 mx-auto text-red text" style="widows: 150px;">
              <h4>EXPLORE OUR SERVECISE</h4>
              
              <hr class="divider ">
          </div>
      </div>
  </div>

   
<div class="container-fluid">

<div id="myCarousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner row w-75 mx-auto" id="cardshow">
<div class="carousel-item col-md-4"  *ngFor='let index of data; let i = index' [class.active]="i == 0" >
<!-- dazd -->

  <div class="card"> 
    <img class="card-img-top img-fluid" src="http://{{index.imagePath}}" alt="Card image cap"> 
    <div class="card-body"> 
      <h4 class="card-title"> {{index.label}} </h4>
       <p class="card-text text-center"> {{index.description}}
  </p> 
      </div> 
    </div>
   
<!-- dazdzad -->
</div>



</div>
<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div>





  <br>
  <br>
  <div class="mx-auto" style="width: 150px;">
      <button type="button" class="btn btn-danger">EXPLORE ALL</button>
  </div>
  <br>
  <br>
  <br>
</div>
