<div class="img">

  <div class="mx-auto" style="width:200px;">
      <img src="../../assets/img/logo_slider_home@1x.png" alt="">

  </div>

  <div class="row">
      <div class="col-md-8 offset-md-3 ">


          <nav class="navbar navbar-expand-lg navbar-dark ">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav j">
                      <li class="nav-item ">
                          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">OUR SERVICESES</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">OFFER</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">MY ACCOUNT</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">PRO</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">CONTACT US</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">PL</a>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
  </div>
  <div class="mx-auto text-light text-center" id="hey" style="width:500px">
      <h2>PAMPRE YOURSELF PRETTY</h2>
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laboriosam ad quibusdam ipsum, iure ipsam nisi eveniet unde et,
          optio sequi amet! Quam, provident temporibus. Consequuntur sequi
          saepe iste quidem dolorum.
      </p>
      <button type="button" class="btn btn-outline-light">I RESERVE</button>
  </div>
</div>